# Compiled class files
*.class

# IntelliJ IDEA project files
*.iml
.idea/

# Output directory
/out/

# Log files
*.log

# Temporary files
*.tmp
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Documentation
/documentation/
.qodo

class-diagram.png

/Pseudocode/

/Report/